/* font awesome */
/* font awesome */
@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ui-state-default .ui-icon, .ui-state-highlight .ui-icon, 
.ui-widget-content .ui-icon, 
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon, 
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div span.ui-icon
{
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
	
	background-image: none;
	text-indent: inherit;
	height: auto;
	width: auto;
	
	font-size: 18px;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    font-family: FontAwesome;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
	
	color: inherit;
}

.ui-icon-plus:before {
	content: "\f055";
	color: #a069c3;
}

.ui-icon-minus:before {
	content: "\f056";
	color: #a069c3;
}

.ui-icon-pencil:before {
	content: "\f040";
	color: #478fca;
}

.ui-icon-copy:before {
	content: "\f0c5";
	color: #69aa46;
}

.ui-icon-trash:before, .ui-icon-scissors:before {
	content: "\f014";
	color: #dd5a43;
}

.ui-icon-document:before {
	content: "\f00e";
	color: #69aa46;
}

.ui-icon-disk:before {
	content: "\f00c";
	color: #478fca;
}

/* row icon save/cancel */
.ui-icon-cancel:before {
	content: "\f00d";
	color: #a52a2a;
}

.ui-icon-search:before {
	content: "\f002";
	color: #c6699f;
}

.ui-icon-refresh:before {
	content: "\f021";
	color: #ff892a;
}

/* dialog cancel icon */
.ui-icon-close:before {
	content: "\f00d";
	color: #a52a2a;
}

/* dialog close icon */
.ui-icon-closethick:before {
	content: "\f00d";
}

.ui-icon-seek-first:before {
	content: "\f100";
}

.ui-icon-seek-prev:before {
	content: "\f104";
}

.ui-icon-seek-next:before {
	content: "\f105";
}

.ui-icon-seek-end:before {
	content: "\f101";
}

.ui-icon-arrowreturnthick-1-w:before {
	content: "\f01e";
}

.ui-icon-circle-triangle-n:before {
	content: "\f077";
}

.ui-icon-circle-triangle-s:before {
	content: "\f078";
}

.ui-icon-circle-triangle-w:before {
	content: "\f137";
}

.ui-icon-circle-triangle-e:before {
	content: "\f138";
}

.ui-icon-triangle-1-w:before {
	content: "\f104";
}

.ui-icon-triangle-1-e:before {
	content: "\f105";
}

.ui-icon-note:before {
	content: "\f0c9";
	color: #feb902;	
}

.ui-icon-extlink:before {
	content: "\f08e";
}

/* grouping */
.ui-icon-circlesmall-minus:before{
	content: "\f056";
}
.ui-icon-circlesmall-plus:before{
	content: "\f055";
}

/* datepicker calendar button */
.ui-icon-calendar:before {
	content: "\f073";
}

div.ui-datepicker-header 
a.ui-datepicker-prev,div.ui-datepicker-header 
a.ui-datepicker-next
{
    cursor: hand;  
    cursor: pointer;  
}

.DataTD button.ui-button-icon-only, .jqgrow button.ui-button-icon-only, button.ui-button-icon-only
{
	background-image: none;
	background-color: transparent;
	border: 0;
}

.ui-button-icon-only span.ui-icon
{
	left: -25%;
	top: 0%;
}

/* small sort icons */
/*
.ui-icon-triangle-1-n:before {
	content: "\f077";
	font-size:10px;
	position: relative;
	top: -5px;
}

.ui-icon-triangle-1-s:before {
	content: "\f078";
	font-size:10px;
	position: relative;
	top: 3px;
}
*/

/* big sort icons - one at a time */
.s-ico .ui-state-disabled { display:none; }
.ui-icon-triangle-1-n:before {
	content: "\f160";
	font-size: 0.8em;
}
.ui-icon-triangle-1-s:before {
	content: "\f161";
	font-size: 0.8em;
}

/* paging icons << < > >> */
.ui-pg-table > tbody > tr > .ui-pg-button > .ui-icon
{
    border-style: solid;
	border-width: 1px;
    border-radius: 100%;
    display: inline-block;
    float: none;
    height: 22px;
    line-height: 20px;
	margin: 2px 2px 0 2px !important; 
    padding: 0;
    position: static;
    text-align: center;
    width: 24px;
}

/* dialog button icons ok/cancel */
.fm-button-icon-left .ui-icon
{
	top: 20%;
	left: 0.1em;
    margin-left: 1px;
    margin-top: -2px;
}

.fm-button-icon-right .ui-icon
{
	top: 20%;
	right: 0.07em;
}

.ui-custom-icon
{
	padding-right: 5px;
	text-decoration: none;
}